/* https://avexdesigns.com/responsive-youtube-embed/ */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-container:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15px;
    background: #222e3b;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}
.hero-intro {
    text-align: center;
    position: absolute;
    left: 51%;
    top: 20%;
    transform: translateX(-50%) translateY(-50%);
}
.hero-intro h1 {
    color: white;
    font-size: 21px;
    text-align: center;
    width: 310px;
}
.hero-intro a {
    color: white;
    text-align: center;
    border: 1px solid white;
    padding: 10px;
    font-size: 9px;
}
.nav-back a:hover {
    text-decoration: none;
    background-color: #f59505;
    transition: background .3s ease-in;
    border: 1px solid #f59505;
}
/* Homepage Nav Bar */
.nav-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.nav-mid {
    width: 100%;
    height: 52px;
    background-color: #374759;
    box-shadow: 0px 0px 5px #999;
}
.nav-front img {
    position: absolute;
    z-index: 1;
    height: 55px;
    width: 60px;
}
.nav-list-struct {
    list-style: none;
}
.nav-list-struct li {
    display: inline;
}
.center-text {
    margin-top: 11px;
    text-align: center;
}
.nav-list-struct a { 
    padding: 5px 6px;
    text-decoration: none;
    color: white;
}
.nav-list-struct a:hover {
    background-color: #f59505;
    color: white;
    box-shadow: 5px 5px 5px black;
}

@media (min-width: 768px) {
    .hero-intro {
        top: 35%;
    }
    .hero-intro h1 {
        color: white;
        font-size: 50px;
        text-align: center;
        width: 500px;
    }
    .hero-intro a {
        color: white;
        text-align: center;
        border: 1px solid white;
        padding: 15px;
        font-size: 20px;
    }
    .nav-front img {
        position: absolute;
        z-index: 1;
        height: 100px;
        width: 100px;
    }
    .nav-mid {
        width: 100%;
        height: 75px;
        background-color: #374759;
        box-shadow: 0px 0px 5px #999;
    }
    .nav-list-struct a { 
        padding: 15px 10px;
        float: right;
        text-decoration: none;
        color: white;
    }
}
@media (min-width: 1440px) {
    .hero-intro {
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .hero-intro h1 {
        color: white;
        font-size: 90px;
        text-align: center;
        width: 800px;
    }
    .hero-intro a {
        color: white;
        text-align: center;
        border: 1px solid white;
        padding: 10px;
        font-size: 45px;
    }
}
/* Footer */

.footer-back-home {
    padding-bottom: 70px;
    background-color: #222e3b;
    width: 100%;
    border-bottom: 1px solid #131921;
    z-index: 1;
}
@media (max-width: 425px) {
    .footer-back-home {
        padding-top: 20px;
        background-color: #222e3b;
        width: 100%;
        border-bottom: 1px solid #131921;
        z-index: 1;
        padding-bottom: 20px;
    }
}
.footer-back {
    background-color: #222e3b;
    width: 100%;
    border-bottom: 1px solid #131921;
}
.footer-list-struct li:first-child {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    color: white;
    
}
.footer-list-struct {
    text-decoration: none;
    list-style: none;
    margin-left: 0px;
    line-height: 26px;
}
.footer-list-struct a {
    text-decoration: none;
    color: white;
}
.footer-list-struct a:hover {
    border-bottom: 1px solid white;
}
.footer-logo {
    background-color: #222e3b;
}
.footer-lang {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.footer-lang a {
    margin-left: 10px;
    padding: 8px;
    color: white;
    border: 1px solid white;
    padding: 10px;
}
.footer-lang a:hover {
    text-decoration: none;
    background-color: #f59505;
    transition: background .3s ease-in;
    border: 1px solid #f59505;
}
.copyright-back {
    background-color: #131921;
}
.copyright-front ul {
    list-style: none;
    text-align: center;
    margin: 15px auto;
}
.copyright-front li {
    display: inline;
    padding-right: 13px;
    font-size: 10px;
    color: white;
}
.footer-lang a {
    margin-left: 10px;
    padding: 8px;
    color: white;
    border: 1px solid white;
    padding: 15px;
}
.footer-lang a:hover {
    text-decoration: none;
    background-color: #f59505;
    transition: background .3s ease-in;
    border: 1px solid #f59505;
}
@media (min-width: 768px) {
    .footer-back-home {

    }
    .footer-list-struct {
        margin-left: 0px;
        padding: 0;
    }
    .footer-lang {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .footer-lang a {
        margin-left: 10px;
        padding: 8px;
        color: white;
        border: 1px solid white;
        padding: 15px;
    }
    .footer-lang a:hover {
        text-decoration: none;
        background-color: #f59505;
        transition: background .3s ease-in;
        border: 1px solid #f59505;
    }
}
@media (min-width: 1440px) {
    .footer-list-struct {
        text-decoration: none;
        list-style: none;
        margin-left: 40px;
        line-height: 26px;
    }
    .footer-list-struct li:first-child {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 18px;
        color: white;
        
    }
    .footer-list-struct {
        text-decoration: none;
        list-style: none;
        margin-left: 40px;
        line-height: 26px;
    }
    .footer-lang {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .footer-back-home {

    }
}

/* HomePage End */
/* Begin Service Page */
.service-nav-back {
    background-color: #374759;
}
.service-nav-back ul {
    list-style: none;
}
.service-nav-back li {
    display: inline;
    color: white;
    font-size: 15px;
    margin-left: 10px;
}
/* Search Bar */
.search-bar {
    position: absolute;
    left: 21%;
    top: 250px;
    height: 0px;
    z-index: 1;
}
.search-bar input {
    height: 70px;
    width: 250px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 5px #999;
    font-size: 25px;
    padding-right: 55px;    
    padding-left: 20px;
}
.search-bar a {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-left: -50px;
    font-size: 30px;
    line-height: 30px;
    color: #555;

}
.search-bar a:hover {
    color: #f59505;
    transition: color .3s ease-in;   
}



/* Slider Rules */
.slider-back:after {
    content: "";
    background: linear-gradient(-180deg, rgba(234,237,237,0), #ccc);
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00EAEDED', endColorstr='#EAEDED',GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00EAEDED', endColorstr='#EAEDED',GradientType=0)";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 250px;
    z-index: 1;
}
.bgslider {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center bottom;
}
/* Ad Boxes */
.product-back {
    background-color: #ccc;
}
.category-back {
    position: relative;
    overflow: hidden;
    padding-top: 25px;
    height: 300px;
    background-color: white;
    box-shadow: 5px 5px 5px #999;
    text-align: center;   
}
.category-back a {
    transition: font-size .5s;
    text-decoration: none;
    color: #555;
    font-weight: bold;
    font-size: 20px;
}
.category-back a:hover {
    transition: font-size .5s;
    font-size: 22px;
    text-shadow: 4px 4px 4px #bdbcbc;
}
.widgetbg {
    margin-top: 24px;
    height: 225px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform .5s;
}
.widgetbg:hover {
    transform: scale(1.1);
}
.category-back-more {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    height: 80px;
    background-color: white;
    box-shadow: 5px 5px 5px #999;
}

.category-back-more a {
    position: absolute;
    right: 0;
    margin: 24px;
    transition: font-size .5s;
    text-decoration: none;
    color: #555;
    font-weight: bold;
    font-size: 20px;
}
.category-back-more a:hover {
    transition: font-size .5s;
    font-size: 22px;
    text-shadow: 4px 4px 4px #bdbcbc;
}
.category-back-slider {
    width: 50%;
    float: left;
}
.category-back-slider:after {
    content: '';
    background: linear-gradient(90deg, rgba(234,237,237,0), #fff);
    position: absolute;
    width: 50%;
    height: 80px;
    top: 0;
    right: 0;
    pointer-events: none;
}
.widgetbg-more {
    position: relative;
    height: 80px;
    width: 71%;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    background-position: 0px -50px;
}
/* Ads */
.ad-displays {
    margin-top: 30px;
    max-height: 400px;
    height: auto;
    width: 100%;
    box-shadow: 5px 5px 5px #999;
}
/* Products */
.productbg {
    /* position: relative;
    overflow: hidden; */
    margin-top: 30px;
    padding-top: 25px;
    height: 75px;
    background-color: white;
    box-shadow: 5px 5px 5px #999;
    text-align: center;  
}
.productbg a {
    transition: font-size .5s;
    text-decoration: none;
    color: #555;
    font-weight: bold;
    font-size: 20px;
}
.productbg a:hover {
    transition: font-size .5s;
    font-size: 22px;
    text-shadow: 4px 4px 4px #bdbcbc;   
}
.product-slider-back {
    margin-bottom: 30px;
    height: 250px;
    background-color: white;
    box-shadow: 5px 5px 5px #999;
}
.product-slide {
    width: 25%;
    text-align: center;
    overflow: hidden;
    float: left;
}
.product-slide a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
}
.product-pic {
    margin-top: 20px;
    margin-left: 27px;
    height: 175px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform .5s;
}
.product-pic:hover {
    transform: scale(1.1);
}

@media (min-width: 768px) {
    .footer-list-struct {
        margin-left: 0px;
        padding: 0;
    }
    .footer-lang {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .footer-lang a {
        margin-left: 10px;
        padding: 8px;
        color: white;
        border: 1px solid white;
        padding: 15px;
    }
    .footer-lang a:hover {
        text-decoration: none;
        background-color: #f59505;
        transition: background .3s ease-in;
        border: 1px solid #f59505;
    }
    .widgetbg-more {
        position: relative;
        height: 80px;
        width: 71%;
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
        background-position: 0px -110px;
    }
    .product-pic {
        margin-top: 20px;
        margin-left: 0px;
        height: 180px;
        background-size: contain;
        background-repeat: no-repeat;
        transition: transform .5s;
    }
    .search-bar {
        position: absolute;
        left: 25%;
        top: 250px;
        height: 0px;
        z-index: 1;
    }
    .search-bar input {
        height: 70px;
        width: 400px;
        border-radius: 5px;
        border: none;
        box-shadow: 5px 5px 5px #999;
        font-size: 40px;
        padding-right: 55px;    
        padding-left: 20px;
    }
}
@media (min-width: 1440px) {
    .footer-list-struct {
        text-decoration: none;
        list-style: none;
        margin-left: 40px;
        line-height: 26px;
    }
    .footer-list-struct li:first-child {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 18px;
        color: white;
        
    }
    .footer-list-struct {
        text-decoration: none;
        list-style: none;
        margin-left: 40px;
        line-height: 26px;
    }
    .footer-lang {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .widgetbg-more {
        position: relative;
        height: 80px;
        width: 71%;
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
        background-position: 0px -175px;
    }
    .search-bar {
        position: absolute;
        left: 23%;
        top: 250px;
        height: 0px;
        z-index: 1;
    }
    .search-bar input {
        height: 70px;
        width: 600px;
        border-radius: 5px;
        border: none;
        box-shadow: 5px 5px 5px #999;
        font-size: 40px;
        padding-right: 55px;    
        padding-left: 20px;
    }
    .search-bar a {
        position: absolute;
        top: 20px;
        right: 20px;
        margin-left: -50px;
        font-size: 30px;
        line-height: 30px;
        color: #555;
    }
}
/* Product Single Page */

.product-single-bg {
    position: relative;
    height: 680px;
}
.product-single-fr {
    margin-top: 50px;
}
.product-single-ds {
    text-align: center;
    font-size: 18px;
    color: #374759;
}
.product-single-ds h1 {
    font-size: 45px;
}
.product-single-buy {
    font-size: 20px;
    text-align: center;
}
.product-single-buy a {
    padding: 10px 20px;
    color: #374759;
    border: solid 1px #374759;
    text-decoration: none;
}
.product-single-buy a:last-child {
    padding: 10px 32px;
} 
.product-single-buy a:hover {
    background-color: #f59505;
    transition: background .2s ease-in;
    border: 1px solid #f59505;
    color: white;
}
@media (min-width: 768px) {

    .product-single-bg {
        position: relative;
        height: 450px;
    }
    .product-single-fr {
        margin-top: 50px;
    }
    .product-single-ds {
        margin-top: 50px;
        text-align: center;
        /* padding-bottom: 180px; */
        font-size: 18px;
        color: #374759;
    }
    .product-single-ds h1 {
        font-size: 45px;
    }
    .product-single-buy {
        font-size: 20px;
        text-align: center;
    }
    .product-single-buy a {
        padding: 10px 20px;
        color: #374759;
        border: solid 1px #374759;
        text-decoration: none;
    }
    .product-single-buy a:last-child {
        padding: 10px 32px;
    } 
    .product-single-buy a:hover {
        background-color: #f59505;
        transition: background .2s ease-in;
        border: 1px solid #f59505;
        color: white;
    }
}
@media (min-width: 1024px) {
    .product-single-bg {
        position: relative;
        height: 550px;
    }
    .product-single-fr {
        margin-top: 50px;
    }
}
@media (min-width: 1440px) {
    .product-single-bg {
        position: relative;
        height: 600px;
    }
    .product-single-fr {
        margin-top: 50px;
    }
    .product-single-ds {
        margin-top: 100px;
        text-align: center;
        font-size: 18px;
        color: #374759;
    }
    .product-single-ds h1 {
        font-size: 45px;
    }
    .product-single-buy {
        font-size: 20px;
        text-align: center;
    }
    .product-single-buy a {
        padding: 10px 20px;
        color: #374759;
        border: solid 1px #374759;
        text-decoration: none;
    }
    .product-single-buy a:last-child {
        padding: 10px 32px;
    } 
    .product-single-buy a:hover {
        background-color: #f59505;
        transition: background .2s ease-in;
        border: 1px solid #f59505;
        color: white;
    }
}
/* Room Single */
.room-single-bg {
    background-color: #ccc;
}
.all-prod-cont {
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px #999;   
}
.room-header {
    background-color: white;
    box-shadow: 5px 5px 5px #999; 
    height: 50px;
    text-align: center;
}
.room-header h2 {
    padding-top: 10px;
    font-size: 35px;
}
.room-slide {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}
.room-slide a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
}
.room-product-pic {
    margin-bottom: 20px;
    height: 175px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s;
    overflow: hidden;
}
.room-product-pic:hover {
    transform: scale(1.1);
}
.room-back {
    display: block;
    margin: 0 auto;
    background-color: white;
    box-shadow: 5px 5px 5px #999;   
    margin-bottom: 30px;
    width: 250px;
    text-align: center;
}
.room-back a {
    font-size: 25px;
    text-decoration: none;
    color: #555;
    transition: .5s;
}
.room-back a:hover {
    color: #222e3b;
}

@media (min-width: 768px) {
    .room-slide {
        width: 32%;
    }
    .room-header {
        background-color: white;
        box-shadow: 5px 5px 5px #999; 
        height: 50px;
        width: 30%;
        text-align: center;
    }
    .room-header h2 {
        padding-top: 10px;
        font-size: 30px;
    }
}
@media (min-width: 1440px) {
    .room-slide {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 24%;
        text-align: center;
        overflow: hidden;
        display: inline-block;
    }   
    .room-header {
        background-color: white;
        box-shadow: 5px 5px 5px #999; 
        height: 50px;
        width: 25%;
        text-align: center;
    }
    .room-header h2 {
        padding-top: 10px;
        font-size: 35px;
    }
}

/* Sign in Pages */
.signin-bg {
    background: #ff9900cf;
    height: 625px;
}
.signin-bg a {
    color: #999;
    text-decoration: none;
}
.signin-bg a:hover {
    text-decoration: underline;
    color: #0000FF;
}
.form-pos {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.form-bg {
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    text-align: center;
    width: 80%;
    box-shadow: 5px 5px 5px #f59505;
}
.signin-form input {
    margin: 10px;
    height: 50px;
    width: 90%;
}
.signin-form input[type="text"] {
    padding-left: 10px;
    background-color: #dddddd6b;
    border: none;
}
.signin-form input[type="submit"] {
    background-color: white;
    border: 1px solid #f59505;
    color: #f59505;
    transition: .5s;
}
.signin-form input[type="submit"]:hover {
    background-color: #f59505;
    color:white;
}
@media (min-width: 768px) {
    .form-bg {
        width: 50%;
    }
}
@media (min-width: 1024px) {
    /* Sign in Pages */
    .signin-bg {
        background: #ff9900cf;
        height: 625px;
    }
    .signin-bg a {
        color: #999;
        text-decoration: none;
    }
    .signin-bg a:hover {
        text-decoration: underline;
        color: #0000FF;
    }
    .form-pos {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .form-bg {
        display: block;
        margin: 0 auto;
        padding: 20px;
        background-color: white;
        text-align: center;
        width: 33.3%;
        box-shadow: 5px 5px 5px #f59505;
    }
    .signin-form input {
        margin: 10px;
        height: 50px;
        width: 90%;
    }
    .signin-form input[type="text"] {
        padding-left: 10px;
        background-color: #dddddd6b;
        border: none;
    }
    .signin-form input[type="submit"] {
        background-color: white;
        border: 1px solid #f59505;
        color: #f59505;
        transition: .5s;
    }
    .signin-form input[type="submit"]:hover {
        background-color: #f59505;
        color:white;
    }
}